# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/assignments/node_modules
section-1/node_modules
assignment-1/node_modules
section-2/node_modules
assignment-2/node_modules
section-3/node_modules
assignment-3/node_modules
section-4/node_modules
assignment-4/node_modules
section-5/node_modules
assignment-5/node_modules
section-6/node_modules
assignment-6/node_modules
section-7/node_modules
assignment-7/node_modules
section-8/node_modules
assignment-8/node_modules
section-9/node_modules
assignment-9/node_modules
section-10/node_modules
assignment-10/node_modules
section-11/node_modules
assignment-11/node_modules
section-12/node_modules
assignment-12/node_modules
section-13/node_modules
assignment-13/node_modules
section-14/node_modules
assignment-14/node_modules
section-15/node_modules
assignment-15/node_modules
section-16/node_modules
assignment-16/node_modules
section-17/node_modules
assignment-17/node_modules
section-18/node_modules
assignment-18/node_modules
section-19/node_modules
assignment-19/node_modules
section-20/node_modules
assignment-20/node_modules
section-21/node_modules
assignment-21/node_modules
section-22/node_modules
assignment-22/node_modules
section-23/node_modules
assignment-23/node_modules
section-24/node_modules
assignment-24/node_modules
section-25/node_modules
assignment-25/node_modules
section-26/node_modules
assignment-26/node_modules
section-27/node_modules
assignment-27/node_modules
section-28/node_modules
assignment-28/node_modules
section-29/node_modules
assignment-29/node_modules
section-30/node_modules
assignment-30/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
